<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="recipe-authoring-tools">
            <directory>vendor/silverstripe/documentconverter/tests</directory>
            <directory>vendor/silverstripe/iframe/tests</directory>
            <directory>vendor/silverstripe/spellcheck/tests</directory>
            <directory>vendor/silverstripe/tagfield/tests</directory>
            <directory>vendor/silverstripe/taxonomy/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
